@*@model HotelCabañas.Models.VMMantenimiento.Mantenimiento
@using LogicaNegocio.EntidadesNegocio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Mantenimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="date" asp-for="Fecha" placeholder="Fecha" class="form-control" />
                <input type="text" asp-for="Nombre" placeholder="Nombre" class="form-control" />
                <input type="text" asp-for="Descripcion" placeholder="Descripcion" class="form-control" />
                <input type="number" asp-for="CostoxHuesped" placeholder="Costo por Huesped" class="form-control" />


                <label asp-for="Cabana" class="control-label"></label>
                <select name="tipo">
                    @foreach (var item in Model.Cabanas)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
            </div>
        </form>
    </div>
</div>
@ViewBag.Mensaje

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
*@