@model VMCabania

@{
    ViewData["Title"] = "Create";
}

<section class="vh-70 gradient-custom">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-primary bg-gradient text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4">
                        <form asp-action="Create" enctype="multipart/form-data">
                           @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                            <div class="form-group">
                                <select asp-for="Cabania.TipoId" class="control-label">
                                @foreach (var item in Model.Tipos)
                                {
                                    <option value="@item.Id">@item.Nombre</option>
                                }
                                </select>
                                <span asp-validation-for="Cabania.TipoId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cabania.Nombre" class="control-label"></label>
                                <input asp-for="Cabania.Nombre" class="form-control" />
                                <span asp-validation-for="Cabania.Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cabania.Descripcion" class="control-label"></label>
                                <input asp-for="Cabania.Descripcion" class="form-control" />
                                <span asp-validation-for="Cabania.Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Cabania.TieneJacuzzi" /> @Html.DisplayNameFor(model => model.TieneJacuzzi)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Cabania.HabilitadaReservas" /> @Html.DisplayNameFor(model => model.HabilitadaReservas)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cabania.MaxPersonas" class="control-label"></label>
                                <input asp-for="Cabania.MaxPersonas" class="form-control" />
                                <span asp-validation-for="Cabania.MaxPersonas" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Foto" class="control-label"></label>
                                <input asp-for="Foto" class="form-control" />
                                <span asp-validation-for="Foto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<a asp-action="Index">Back to List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
